
.history{
    background-color: aquamarine;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.ontime{
    border-radius: 15px;
    padding: 3px;
    background-color: azure;
}

.late{
    border-radius: 15px;
    padding: 3px;
    background-color: rgb(235, 115, 115);
    color: white;
}

.header{
    font-size: 1000;
    font-weight: 700;
}

.main{
    background-color: aliceblue;
}

.f600{
    font-weight: 600;
}